@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  background-color: black;
  font-family: 'Pretendard', sans-serif;
}

/*--------- COMMON ---------*/

#foreground,
svg rect {
  opacity: 0;
}

.content {
  /* 본문 감싸기 */
  margin-top: 150px;
  overflow-x: hidden;
}


.part {
  margin: 0px 30px;
  font-size: 24px;
  font-family: serif;
}

.paragraph {
  margin: 0px 30px;
}

.paragraphBg {
  font-family: monospace;
  color: #393939;
  font-size: 16px;
  letter-spacing: -1px;
  word-break: break-all;
  margin: 0px 30px;
}

.d30 {
  height: 30px;
}

.instagram {
  height: 500px;
  overflow: hidden;
}

.media {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.rec {
  position: relative;
}


.recImg {
  margin: 0px auto;
  width: 500px;
  height: 500px;
  position: relative;
  top: 0px;
  left: 0px;
}

@media (max-width:500px) {
  .recImg {
    left: calc((100vw - 500px) / 2);
  }
}

.recVidWrap {
  margin: 0px auto;
  overflow: hidden;
  width: 500px;
  height: 500px;
  position: relative;
}

.fadeLine {
  position: relative;
  top: -500px;
}

.logos {
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo_subtitle {
  font-size: 20px;
  font-weight: 600;
}

.para_subtitle {
  font-size: 20px;
  font-weight: 600;
}

.subtitleLine {
  letter-spacing: -2.5px;
}

/*--------- BACKGROUND ---------*/

.container {
  max-width: 800px;
  margin: 0px auto;
  height: 5000px;
}

.keyVisual {
  height: 700px;
  background-image: url('/plaster.png');
  position: relative;
  background-size: 600px;
  background-position: center;
  background-repeat: no-repeat;
}

.titleContainer {
  position: absolute;
  top: 500px;
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: flex-start;
  flex-direction: row;
}

.title {
  background-image: url('/brainRot_text.svg');
  width: 210px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 30px;
  margin-bottom: 30px;
  flex-shrink: 0;
}

.subTitle {
  font-family: monospace;
  color: #252525;
  font-size: 16px;
  letter-spacing: -1px;
  word-break: break-all;
  margin-left: 30px;
  margin-right: 30px;
}

@media(max-width:600px) {
  .titleContainer {
    flex-direction: column;
  }
}

#instagram {
  background-image: url('/phone1.png');
}

#recImgBg {
  background-image: url('/grid.png');
}

#twitterBg {
  background-image: url('/phone_twitter.png');
  height: 500px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#logo_insta {
  background-image: url('/logo_instagram.png');
}

#logo_twitter {
  background-image: url('/logo_twitter.png');
}

#logo_youtube {
  background-image: url('/logo_youtube.png');
}

.para_subtitle_bg {
  font-size: 20px;
}


/*--------- FOREGROUND ---------*/

#foreground {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 1000%;
}

#fgKeyVisual {
  height: 700px;
  background-image: url('/plaster_line.png');
  position: relative;
  background-size: 600px;
  background-position: center;
  background-repeat: no-repeat;
}

#fgTitleContainer {
  position: absolute;
  top: 500px;
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: flex-start;
  flex-direction: row;
}

@media(max-width:600px) {
  #fgTitleContainer {
    flex-direction: column;
  }
}

#fgTitle {
  background-image: url('/brainRot_text2.svg');
  width: 210px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 30px;
  margin-bottom: 30px;
  flex-shrink: 0;
}

#fgText {
  font-size: 16px;
  letter-spacing: -0.15px;
  word-break: break-all;
  margin-left: 30px;
  margin-right: 30px;
}

#insta_line {
  background-image: url('/phone_line.svg');
  width: 360px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0px auto;
}

#insta_video {
  display: flex;
  justify-content: center;
}

#instaContainer {
  position: relative;
  width: 360px;
}

#insta_vidvid {
  width: 360px;
  height: 500px;
  transition: 2s;
}

.recItem {
  width: 300px;
  height: 300px;
}

#recImgFg {
  background-image: url('/grid2.png');
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0px auto;
}

@media (max-width:500px) {
  .recImg {
    left: calc((100vw - 500px) / 2);
  }
}

#rec_vidWrap {
  width: 500px;
  height: 500px;
}

#rec_vid {
  margin: 0px auto;
  width: 360px;
  height: 500px;
}

#twitterLine {
  background-image: url('/phone_line.svg');
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0px auto;
  background-color: black;
}

@media (max-width:500px) {
  #twitterLine {
    left: calc((100vw - 500px) / 2);
  }
}

#twitter_vid {
  margin: 0px auto;
  width: 360px;
  height: 500px;
  opacity: 1;
}

#twitterContainer {
  height: 500px;
}

#logo_blur_insta {
  background-image: url('/logo_blur_instagram.png');
}

#logo_blur_twitter {
  background-image: url('/logo_blur_twitter.png');
}

#logo_blur_youtube {
  background-image: url('/logo_blur_youtube.png');
}

.rotText {
  background-image: url('/rot_text.png');
  width: 100%;
  height: 90px;
}